<div class="chat-dashboard">
    <div id="chat-container">
        <div id="profile-container">
            <a [routerLink]="'user'">
                <img src="./../../../assets/user-profile.png">
            </a>
        </div>
        <div id="conversation-list">
            <div class="chat-user-navigation">
                <h2 type="text" (click)='onToggleList(true)' >Chats</h2>
                <h2 type="text" (click)='onToggleList(false)' >Users</h2>
            </div>
            <div [hidden]="!listToggler">
                <app-chats (selectChat)="selectChat($event)"></app-chats>
            </div>
            <div [hidden]="listToggler">
                <app-users></app-users>
            </div>
        </div>
        <div id="new-message-container">
            <a routerLink="createchat">+</a>
        </div>
        <div id="chat-title">
            <div *ngIf="selectedChat; else showDefaultTitle">
                <a [routerLink]="'chat/' + selectedChat.id">{{selectedChat.name}}</a>
            </div>
            <ng-template #showDefaultTitle>
                <span>Chat Title</span>
            </ng-template> 
            <div>
                <img src="./../../../assets/sign-out.png" (click)="onLogOut()">
            </div>          
        </div>
        <div id="chat-message-list">
            <div *ngFor="let message of chatMessageStorage">
                <div *ngIf="message.email === userEmail; else showOtherMessage">
                    <div class="message-row your-message">
                        <div class="message-content">
                            <div class="message-text">{{message.content}}</div>
                            <div class="message-time">{{message.time}}</div>
                        </div>
                    </div>
                </div>
                <ng-template #showOtherMessage>
                    <div class="message-row other-message">
                        <div class="message-content">
                            <img [src]="message.photo" alt="User">
                            <div class="message-text">{{message.content}}</div>
                            <div class="message-time">{{message.time}}</div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <form id="chat-form" (submit)="onSendMessage(inputMessage)">
            <input type="text" class="form-control" placeholder="type a message" [(ngModel)]="inputMessage" name="inputMessage">
            <input type="image" class="chat-form-image" src="../../../assets/send-msg.png" alt="Submit">
        </form>
    </div>
</div>
<router-outlet></router-outlet>
