<div class="chat-dashboard">
    <div id="chat-container">
        <div id="profile-container">
            <a [routerLink]="'user/' + userProfile">
                <img src="./../../../assets/user-profile.png">
            </a>
        </div>
        <div id="conversation-list">
            <div class="chat-user-navigation">
                <h2 type="text" (click)='onToggleList(true)' >Chats</h2>
                <h2 type="text" (click)='onToggleList(false)' >Users</h2>
            </div>
            <div [hidden]="!listToggler">
                <app-chats (selectChat)="selectChat($event)"></app-chats>
            </div>
            <div [hidden]="listToggler">
                <app-users></app-users>
            </div>
        </div>
        <div id="new-message-container">
            <a routerLink="createchat">+</a>
        </div>
        <div id="chat-title">
            <div *ngIf="selectedChat; else showDefaultTitle">
                <a [routerLink]="'chat/' + selectedChat.id">{{selectedChat.name}}</a>
            </div>
            <ng-template #showDefaultTitle>
                <span>Chat Title</span>
            </ng-template>           
        </div>
        <div id=chat-message-list>
            <div class="message-row your-message">
                <div class="message-content">
                    <div class="message-text">Hello</div>
                    <div class="message-time">May 27</div>
                </div>
            </div>
            <div class="message-row other-message">
                <div class="message-content">
                    <img src="../../../assets/Maks_BW.jpg" alt="Vlada">
                    <div class="message-text">Hello</div>
                    <div class="message-time">May 27</div>
                </div>
            </div>
        </div>
        <div id="chat-form">
            <img src="../../../assets/send-msg.png">
            <input type="text" placeholder="type a message">
        </div>
    </div>
</div>
<router-outlet></router-outlet>
