<form>
    <div class="inputs">
        <div class="image">
            <img src="../../../assets/googlebookmarks-green.png" width="50" height="50" (click)="onSignInGoogle()">
        </div>
        <div class="input">
            <input placeholder="Email" type="text">
            <img src="../../../assets/mail.svg">
        </div>
        <div class="input">
            <input placeholder="Username" type="text">
            <img src="../../../assets/user.svg">
        </div>
        <div class="input">
            <input placeholder="Password" type="password">
            <img src="../../../assets/pass.svg">
        </div>
    </div>
    <button>Register</button>
</form>
      

